body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  margin: 0; 
  background-color: #f0f0f0;
}

.container {
  width: 250px;
  background-color: rgb(93, 93, 248);
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}